@import "./about.less";
@import "./button-menu.less";
@import "./button.less";
@import "./contacts.less";
@import "./developers-link-logo.less";
@import "./developers.less";
@import "./feature.less";
@import "./footer-logo.less";
@import "./footer.less";
@import "./header-navigation.less";
@import "./header.less";
@import "./logo.less";
@import "./main-header.less";
@import "./main.less";
@import "./reviews.less";
@import "./social.less";
@import "./footer-form.less";
@import "./form-order.less";
@import "./form.less";
@import "./header-form.less";
@import "./main-form.less";
@import "./catalog.less";
@import "./footer-catalog.less";
@import "./header-catalog.less";
@import "./main-catalog.less";
@import "./video.less";

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff") format("woff");
  font-display: swap;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  width: 1150px;
}
