@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff") format("woff");
  font-display: swap;
}
.about {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  padding: 0 30px;
}
.about__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-top: 31px;
}
.about__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.about__item {
  margin-top: 30px;
  margin: 0;
  margin-top: 82px;
}
.about__zigzag-line {
  display: block;
  margin: 20px 0;
}
@media (min-width: 768px) {
  .about {
    font-size: 20px;
    line-height: 22px;
    padding: 0 50px;
  }
  .about__title {
    font-size: 43px;
    line-height: 50px;
  }
  .about__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about__item--money {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .about__item--heart {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}
@media (min-width: 1150px) {
  .about {
    padding: 0 225px 0 250px;
  }
  .about__title {
    font-size: 53px;
    line-height: 57px;
  }
}
.button {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  border: 2px solid #444444;
  padding: 18px 15px;
  text-decoration: none;
  color: #444444;
  text-transform: uppercase;
}
.button:hover {
  background-color: #444444;
  color: #ffffff;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.catalog {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.catalog__product-card {
  display: flex;
  flex-direction: column;
}
.catalog__image {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.catalog__border {
  border: 1px solid #ececec;
  margin-bottom: 30px;
  padding: 28px 5px 28px 28px;
}
.catalog__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}
.catalog__text {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
}
.catalog__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .catalog {
    padding: 0 50px;
    max-width: 850px;
  }
  .catalog__product-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .catalog__image {
    width: 334px;
    height: 334px;
  }
  .catalog__border {
    display: grid;
    grid-template-rows: min-content;
    min-width: 335px;
    min-height: 334px;
    padding: 27px 35px 0 35px;
    box-sizing: border-box;
  }
  .catalog__price {
    align-self: center;
  }
}
@media (min-width: 1150px) {
  .catalog {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    margin-top: 60px;
    max-width: 1250px;
  }
  .catalog__product-card {
    display: flex;
    flex-direction: column;
  }
  .catalog__image {
    width: 316px;
    height: 462px;
  }
  .catalog__border {
    display: grid;
    grid-template-rows: min-content;
    min-width: 316px;
    min-height: 197px;
    padding: 26px 26px 0;
    box-sizing: border-box;
  }
  .catalog__price {
    align-self: center;
  }
}
.contacts {
  position: relative;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  background-image: url("../img/zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}
.contacts__title {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  margin-top: 35px;
  padding: 0 30px;
  padding-top: 30px;
  text-align: start;
}
.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 30px;
  text-align: start;
}
.contacts__email:hover {
  color: #46C1AE;
}
.contacts__email:active {
  color: #46C1AE;
}
.contacts__button {
  display: inline-block;
  padding: 16px 38px;
  margin: 40px 40px;
}
.contacts__map {
  border: none;
  width: 100%;
}
@media (min-width: 768px) {
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    padding: 0 50px;
    padding-top: 25px;
  }
  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 17px;
    padding-top: 50px;
  }
  .contacts__button {
    margin: 40px 260px;
  }
  .contacts__map {
    width: 100%;
    height: 457px;
  }
}
@media (min-width: 1150px) {
  .contacts {
    text-align: start;
    padding-left: 220px;
  }
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 68px;
  }
  .contacts__wrapper {
    display: grid;
    justify-content: inherit;
    grid-template-columns: 82px 250px;
  }
  .contacts__button {
    margin: 40px 80px;
  }
  .contacts__map {
    position: absolute;
    right: 50px;
    top: 0;
    width: 527px;
  }
}
.developers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Open Sans", "Arial", sans-serif;
}
.developers__title {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
}
.developers__logo {
  fill: #63D1BB;
}
.developers__logo:hover {
  fill: #46C1AE;
}
.developers__logo:active {
  opacity: 0.3;
}
.feature-options {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 20px;
  line-height: 20px;
  margin: 0;
  margin-top: 28px;
  padding: 0 30px;
}
.feature-options__options {
  display: inline;
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
}
.feature-options__parameter {
  display: inline;
  margin: 0;
  border-bottom: 1px solid #ececec;
}
@media (min-width: 768px) {
  .feature-options {
    width: 45%;
  }
}
@media (min-width: 1150px) {
  .feature-options {
    padding: 0;
  }
}
.feature {
  position: relative;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  background-image: url("../img/zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}
.feature__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-top: 31px;
  padding: 0 30px;
}
.feature__subtitle {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
  padding: 0 30px;
  margin: 0;
  margin-top: 3px;
}
.feature__discription {
  margin: 0;
  margin-top: 18px;
  padding: 0 30px;
}
.feature__image {
  display: block;
  padding: 0 30px;
  padding-top: 28px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.feature__price {
  display: block;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  padding-top: 25px;
}
.feature__button {
  display: inline-block;
  padding: 16px 80px;
  margin: 25px 30px 36px;
  width: 90%;
  text-align: center;
  box-sizing: border-box;
}
.feature__zigzag-line {
  display: block;
  margin: 20px 0;
}
@media (min-width: 768px) {
  .feature {
    padding: 0 50px;
    padding-top: 40px;
    padding-bottom: 52px;
  }
  .feature__title {
    display: inline;
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }
  .feature__subtitle {
    display: inline-block;
    line-height: 17px;
    padding: 0;
    margin: 0;
    max-width: 120px;
  }
  .feature__discription {
    line-height: 30px;
    margin-top: 37px;
    max-width: 264px;
  }
  .feature__image {
    position: absolute;
    right: 0;
    top: 135px;
    width: 334px;
    height: 404px;
    padding: 0 50px;
    box-sizing: content-box;
  }
  .feature__price {
    text-align: start;
    margin-left: 95px;
    padding-top: 57px;
    padding-bottom: 15px;
  }
  .feature__button {
    width: auto;
  }
}
@media (min-width: 1150px) {
  .feature {
    padding: 0 225px;
    padding-top: 110px;
    padding-bottom: 73px;
  }
  .feature__title {
    font-size: 53px;
    line-height: 57px;
    padding: 0;
  }
  .feature__subtitle {
    position: absolute;
    left: 60px;
    top: 120px;
  }
  .feature__discription {
    padding: 0;
  }
  .feature__image {
    width: 525px;
    height: 636px;
    z-index: -1;
  }
  .feature__price {
    margin-left: 70px;
    padding-top: 130px;
  }
  .feature__button {
    padding: 16px 86px;
    margin-left: 0;
  }
}
.footer-logo {
  display: none;
}
@media (min-width: 768px) {
  .footer-logo {
    display: inline-block;
    align-self: center;
  }
  .footer-logo__logo:hover {
    fill: #46C1AE;
  }
  .footer-logo__logo:active {
    opacity: 0.3;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    height: 143px;
  }
}
.form-order {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  padding: 0 30px;
  margin-bottom: 55px;
}
.form-order__title {
  margin: 0;
}
.form-order__discription {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .form-order {
    padding: 0 50px;
  }
  .form-order__discription {
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .form-order__discription {
    padding: 0 225px;
  }
}
.form__group {
  display: grid;
  grid-template-columns: 42px 1fr;
  row-gap: 10px;
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}
.form__group-input {
  display: grid;
  grid-template-columns: auto;
}
.form__group-connection {
  display: block;
}
.form__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
  margin-top: 32px;
  margin-bottom: 32px;
}
.form__input {
  font-family: "Open Sans", "Arial", sans-serif;
  border: none;
  padding: 16px 8px 17px 0;
  border-bottom: 2px solid #444444;
}
.form__text {
  font-size: 14px;
  font-weight: 400;
}
.form__button {
  display: block;
  padding: 18px 37px;
  margin: 0;
}
.form__label {
  margin-left: 19px;
}
.form__wrapper {
  display: grid;
  grid-template-columns: 42px 1fr;
  row-gap: 10px;
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .form__group {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding-left: 217px;
  }
  .form__title {
    position: absolute;
    left: 0;
    top: -25px;
  }
  .form__wrapper {
    display: grid;
    grid-template-columns: 52px 1fr 52px 1fr;
    row-gap: 10px;
    border: none;
  }
  .form__group-sorting {
    display: grid;
    grid-template-columns: 1fr;
  }
  .form__cover {
    display: flex;
    justify-content: space-between;
  }
  .form__text {
    order: 1;
    align-self: center;
  }
}
@media (min-width: 1150px) {
  .form__group {
    padding: 0 225px;
  }
  .form__wrapper {
    display: grid;
    grid-template-columns: 52px 1fr 52px 1fr 52px 1fr;
    row-gap: 10px;
    border: none;
  }
  .form__cover {
    padding: 0 225px;
  }
}
.main-header-form__title {
  text-align: center;
}
.header-navigation {
  display: grid;
  grid-template-columns: 1fr;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}
.header-navigation__wrapper {
  position: relative;
}
.header-navigation__button {
  position: absolute;
  top: -55px;
  right: 20px;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}
.header-navigation__wrapper--closed .header-navigation__button::before {
  content: "";
  position: absolute;
  top: 6px;
  right: 5px;
  width: 20px;
  height: 2px;
  background-color: #231f20;
  box-shadow: 0 8px 0 0 #231f20, 0 16px 0 0 #231f20;
}
.header-navigation__wrapper--closed .header-navigation__button:active::before {
  background-color: rgba(35, 31, 32, 0.3);
  box-shadow: 0 8px 0 0 rgba(35, 31, 32, 0.3), 0 16px 0 0 rgba(35, 31, 32, 0.3);
}
.header-navigation__wrapper--open .header-navigation__button::before,
.header-navigation__wrapper--open .header-navigation__button::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 2px;
  width: 27px;
  height: 2px;
  background-color: #000000;
}
.header-navigation__wrapper--open .header-navigation__button::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.header-navigation__wrapper--open .header-navigation__button::after {
  transform: rotate(-45deg);
}
.header-navigation__wrapper--open .header-navigation__button:active::before,
.header-navigation__wrapper--open .header-navigation__button:active::after {
  background-color: rgba(0, 0, 0, 0.3);
}
.header-navigation__text {
  display: none;
}
.header-navigation__link-none {
  display: none;
}
.header-navigation__link {
  position: relative;
  text-decoration: none;
  color: #000000;
  padding-left: 76px;
  padding-top: 28px;
  padding-bottom: 27px;
  font-size: 17px;
  line-height: 24px;
  background-color: #ffffff;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.header-navigation__link:hover {
  opacity: 0.6;
}
.header-navigation__link:active {
  opacity: 0.3;
}
.header-navigation__icon-search {
  position: absolute;
  left: 32px;
  top: 32px;
  fill: rgba(0, 0, 0, 0.2);
}
.header-navigation__icon-search:hover {
  fill: #63D1BB;
}
.header-navigation__icon-search:active {
  fill: #63D1BB;
  opacity: 0.3;
}
.header-navigation__icon-cart {
  position: absolute;
  left: 30px;
  top: 31px;
  fill: rgba(0, 0, 0, 0.2);
}
.header-navigation__icon-cart:hover {
  fill: #63D1BB;
}
.header-navigation__icon-cart:active {
  fill: #63D1BB;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .header-navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .header-navigation__link {
    background-color: transparent;
    border: none;
  }
  .header-navigation__button {
    display: none;
  }
  .header-navigation__link-tablet {
    order: 1;
  }
  .header-navigation__text {
    display: block;
    order: 2;
    align-self: center;
    text-align: center;
    font-weight: 400;
    color: #444444;
  }
}
@media (min-width: 1150px) {
  .header-navigation {
    grid-template-columns: repeat(5, 1fr);
  }
  .header-navigation__link-none {
    display: block;
  }
  .header-navigation__link--search {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }
  .header-navigation__link--basket {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
  }
  .header-navigation__link--product {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .header-navigation__link--order {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .header-navigation__link--new {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .header-navigation__link--sale {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .header-navigation__text--delivery {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
}
.header {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}
.header__logo {
  display: flex;
  justify-content: center;
}
.logo__logo-navigation {
  margin: 22px;
}
.logo__logo-navigation:hover {
  opacity: 0.6;
}
.logo__logo-navigation:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .header {
    position: relative;
    max-height: 79px;
  }
  .header__logo {
    position: absolute;
    left: 48px;
    z-index: 1;
  }
  .logo__logo-navigation {
    width: 113px;
    height: 46px;
  }
}
@media (min-width: 1150px) {
  .header__logo {
    left: 45%;
    top: 0%;
  }
  .logo__logo-navigation {
    width: 149px;
    height: 72px;
    margin: 5px;
  }
}
.main-header-form {
  background-color: #f1f1f1;
}
.main-header-catalog {
  background-color: #f1f1f1;
}
.main-header-catalog__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  padding-top: 73px;
  padding-bottom: 73px;
  margin: 0;
}
@media (min-width: 768px) {
  .main-header-catalog {
    background-image: url("../img/zigzag-wave-white.svg");
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }
  .main-header-catalog__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 100px;
    padding-bottom: 75px;
  }
}
@media (min-width: 1150px) {
  .main-header-catalog__title {
    font-size: 53px;
    line-height: 57px;
  }
}
.main-header-form {
  padding-top: 74px;
  padding-bottom: 74px;
}
.main-header-form__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}
@media (min-width: 768px) {
  .main-header-form {
    padding-top: 100px;
    padding-bottom: 75px;
    background-image: url("../img/zigzag-wave-white.svg");
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }
  .main-header-form__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .main-header-form {
    padding-top: 102px;
    padding-bottom: 95px;
  }
  .main-header-form__title {
    font-size: 53px;
    line-height: 57px;
  }
}
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../img/hero-mobile.jpg");
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .main-header {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}
.main-header__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0 30px;
  padding-top: 90px;
}
.main-header__wrapper {
  display: grid;
}
.main-header__sorting {
  position: relative;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  padding: 0 30px;
  padding-top: 24px;
  padding-right: 180px;
}
.main-header__sorting--left {
  min-height: 103px;
  background-color: #63d1bb;
  background-image: url("../img/interior-lamp.svg");
  background-repeat: no-repeat;
  background-position: right 36px bottom 18px;
}
.main-header__sorting--left:hover {
  background-color: #59D5BC;
}
.main-header__sorting--left:active {
  background-color: #59D5BC;
}
.main-header__sorting--right {
  min-height: 103px;
  background-color: #56c3b2;
  background-image: url("../img/lego-cube.svg");
  background-repeat: no-repeat;
  background-position: right 27px bottom 22px;
}
.main-header__sorting--right:hover {
  background-color: #46C1AE;
}
.main-header__sorting--right:active {
  background-color: #46C1AE;
}
.main-header__lamb {
  position: absolute;
  top: 23px;
  right: 36px;
}
.main-header__lego {
  position: absolute;
  top: 21px;
  right: 27px;
}
@media (min-width: 768px) {
  .main-header {
    background-image: url("../img/hero-desktop.jpg");
    min-width: 768px;
    min-height: 746px;
  }
  .main-header__title {
    font-size: 43px;
    line-height: 50px;
    padding: 0 50px;
    padding-top: 110px;
  }
  .main-header__wrapper {
    position: relative;
    grid-template-columns: 1fr 1fr;
    padding: 0 50px;
    margin-top: 433px;
  }
  .main-header__sorting {
    font-size: 20px;
    line-height: 30px;
    padding-right: 278px;
  }
  .main-header__wave-zigzag {
    position: absolute;
    background-image: url("../img/zigzag-wave-white.svg");
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }
}
@media (min-width: 1150px) {
  .main-header__title {
    font-size: 53px;
    line-height: 57px;
  }
}
.main {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}
.reviews {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  padding: 0 30px;
}
.reviews__title {
  font-size: 25px;
  font-weight: 700;
}
.reviews__item {
  margin: 0;
}
.reviews__autor-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}
.reviews__autor-nickname {
  font-size: 17px;
}
.reviews__prev {
  background-image: url("../img/arrow-prev.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ececec;
  padding: 13px 42px 13px 38px;
}
.reviews__prev:hover {
  opacity: 0.6;
}
.reviews__prev:active {
  opacity: 0.3;
}
.reviews__next {
  background-image: url("../img/arrow-next.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ececec;
  padding: 13px 42px 13px 38px;
}
.reviews__next:hover {
  opacity: 0.6;
}
.reviews__next:active {
  opacity: 0.3;
}
.reviews__button {
  display: inline-block;
  padding: 16px 65px;
  margin: 38px 12px 45px;
}
@media (min-width: 768px) {
  .reviews {
    position: relative;
    font-size: 17px;
    padding: 0 50px;
    padding-bottom: 68px;
    background-image: url("../img/review-napkin.jpg");
    background-repeat: no-repeat;
  }
  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 80px;
  }
  .reviews__autor-name {
    font-size: 18px;
  }
  .reviews-arrow {
    position: absolute;
    right: 60px;
    bottom: 50px;
  }
  .reviews__button {
    position: absolute;
    right: 60px;
    top: 45px;
  }
}
@media (min-width: 1150px) {
  .reviews {
    padding-left: 250px;
  }
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
  .reviews__autor-name {
    font-size: 17px;
  }
}
.social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social__svg:hover {
  fill: #46C1AE;
}
.social__svg:active {
  opacity: 0.3;
}
.video {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  padding: 0 30px;
}
.video__title {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}
.video__button {
  display: inline-block;
  padding: 18px 11px;
  margin: 34px;
}
@media (min-width: 768px) {
  .video {
    display: grid;
    padding: 0 50px;
  }
  .video__title {
    font-size: 20px;
  }
  .video__film {
    order: -1;
    width: 668px;
    height: 455px;
  }
  .video__text {
    font-size: 15px;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 17px;
  }
  .video__button {
    display: block;
    margin: 40px;
    text-align: center;
  }
}
@media (min-width: 1150px) {
  .video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 57px 0 105px;
  }
  .video__film {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
  .video__text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}
body {
  font-family: "Open Sans", "Arial", sans-serif;
  min-width: 320px;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */
