.about {
  font-family: @fontfamily;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  padding: @mobile-padding;
}

.about__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-top: 31px;
}

.about__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.about__item {
  margin-top: 30px;
  margin: 0;
  margin-top: 82px;
}

.about__zigzag-line {
  display: block;
  margin: 20px 0;
}

@media (min-width: @tablet-width) {
  .about {
    font-size: 20px;
    line-height: 22px;
    padding: @tablet-padding;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about__item--money {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .about__item--heart {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

@media (min-width: @desktop-width) {
  .about {
    padding: 0 225px 0 250px;
  }
  .about__title {
    font-size: 53px;
    line-height: 57px;
  }
}
