.about {
  font-family: @fontfamily;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  padding: @mobile-padding;
  margin-bottom: 58px;
}

.about__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-top: 32px;
}

.about__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.about__item {
  margin: 0;
  padding-top: 82px;
}

.about__item--flower {
  background-image: url("../img/flower.svg");
  background-repeat: no-repeat;
  background-position: left 9px top 28px;
}

.about__item--money {
  background-image: url("../img/money.svg");
  background-repeat: no-repeat;
  background-position: left 1px top 29px;
}

.about__item--heart {
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: left 8px top 34px;
  padding-top: 84px;
}

.about__item--clew {
  background-image: url("../img/clew.svg");
  background-repeat: no-repeat;
  background-position: left 4px top 31px;
}

.about__item--rocket {
  background-image: url("../img/rocket.svg");
  background-repeat: no-repeat;
  background-position: left -4px top 34px;
}

.about__item--present {
  background-image: url("../img/present.svg");
  background-repeat: no-repeat;
  background-position: left 4px top 33px;
  padding-top: 85px;
}

.about__zigzag-line {
  display: block;
  margin: 20px 0;
}

@media (min-width: @tablet-width) {
  .about {
    font-size: 20px;
    line-height: 22px;
    padding: @tablet-padding;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 58px;
    margin-bottom: 15px;
  }

  .about__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about__item--money {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-top: 109px;
    background-position: left 1px top 57px;
  }

  .about__item--heart {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding-top: 110px;
    background-position: left 8px top 61px;
  }

  .about__item--rocket {
    padding-top: 112px;
    background-position: left -6px top 60px;
  }

  .about__item--present {
    background-position: left 3px top 57px;
    padding-top: 110px;
  }
}

@media (min-width: @desktop-width) {
  .about {
    padding: 10px 225px 0 225px;
    margin-bottom: 65px;
  }

  .about__title {
    font-size: 53px;
    line-height: 57px;
    margin-top: 60px;
    margin-bottom: 13px;
  }

  .about__item--flower {
    background-position: left 8px top 26px;
  }

  .about__item--clew {
    background-position: left 3px top 30px;
  }
}
