.catalog {
  display: flex;
  flex-direction: column;
  padding: @mobile-padding;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.catalog__product-card {
  display: flex;
  flex-direction: column;
}


.catalog__image {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.catalog__border {
  border: 1px solid #ececec;
  margin-bottom: 30px;
  padding: 28px 5px 28px 28px;
}

.catalog__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.catalog__text {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
}

.catalog__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

@media (min-width: @tablet-width) {
  .catalog {
    padding: @tablet-padding;
    max-width: 850px;
  }

  .catalog__product-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .catalog__image {
    width: 334px;
    height: 334px;
  }

  .catalog__border {
    display: grid;
    grid-template-rows: min-content;
    min-width: 335px;
    min-height: 334px;
    padding: 27px 35px 0 35px;
    box-sizing: border-box;
  }

  .catalog__price {
    align-self: center;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    margin-top: 60px;
    max-width: 1250px;
  }

  .catalog__product-card {
    display: flex;
    flex-direction: column;
  }

  .catalog__image {
    width: 316px;
    height: 462px;
  }

  .catalog__border {
    display: grid;
    grid-template-rows: min-content;
    min-width: 316px;
    min-height: 197px;
    padding: 26px 26px 0;
    box-sizing: border-box;
  }

  .catalog__price {
    align-self: center;
  }
}
