.catalog {
  display: flex;
  flex-direction: column;
  padding: @mobile-padding;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.catalog__product-card {
  display: flex;
  flex-direction: column;
}


.catalog__image {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.catalog__border {
  border: 1px solid #ececec;
  margin-bottom: 30px;
  padding: 28px 32px 28px 28px;

  &:hover {
    box-shadow: 0 6px 10px 0;
  }

  &:active {
    box-shadow: 0 3px 5px 0;
  }
}

.catalog__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.catalog__text {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  border-bottom: 1px solid #ececec;
  padding-bottom: 35px;
}

.catalog__price {
  display: block;
  position: relative;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

.catalog__cart {
  position: absolute;
  right: 0;
  bottom: 0;
  fill: rgba(0, 0, 0, 0.2);

  &:hover {
    fill: #63d1bb;
  }

  &:active {
    fill: #63d1bb;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .catalog {
    padding: @tablet-padding;
    max-width: 850px;
  }

  .catalog__product-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .catalog__image {
    width: 334px;
    height: 334px;
  }

  .catalog__border {
    display: grid;
    grid-template-rows: min-content;
    min-width: 335px;
    min-height: 334px;
    padding: 27px 35px 0 35px;
    box-sizing: border-box;
  }

  .catalog__price {
    align-self: center;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    margin-top: 60px;
    max-width: 1250px;
  }

  .catalog__product-card {
    display: flex;
    flex-direction: column;
  }

  .catalog__image {
    width: 316px;
    height: 462px;
  }

  .catalog__border {
    display: grid;
    grid-template-rows: min-content;
    min-width: 316px;
    min-height: 197px;
    padding: 26px 26px 0;
    box-sizing: border-box;
  }

  .catalog__price {
    align-self: center;
  }
}
