.contacts {
  position: relative;
  font-family: @fontfamily;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;

  background-image: url("../img/zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 91%;
}

.contacts__title {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  margin-top: 70px;
  padding: @mobile-padding;
  padding-top: 30px;
  text-align: start;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: @mobile-padding;
  text-align: start;
}

.contacts__email {
  &::after {
    content: "";
    mask-image: url("../img/sprite.svg#link-underline");
    background-color: #62d1ba;
    position: absolute;
    right: 107px;
    top: 97px;
    width: 167px;
    height: 1px;
  }

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: #46c1ae;
  }
}

.contacts__button {
  display: inline-block;
  padding: 16px 38px;
  margin: 40px 40px;
}

.contacts__map {
  border: none;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    padding: @tablet-padding;
    padding-top: 90px;
    padding-bottom: 50px;

    background-image: url("../img/flag.svg");
    background-repeat: no-repeat;
    background-position: top 70px right 50px;
    background-size: 5%;
  }

  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
    padding: @tablet-padding;
    font-size: 17px;
  }

  .contacts__button {
    margin: 40px 260px;
  }

  .contacts__map {
    width: 100%;
    height: 457px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    text-align: start;
    padding-bottom: 100px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 150px;
    padding-left: 255px;
    background-position: left 110px top 132px;
  }

  .contacts__wrapper {
    display: grid;
    justify-content: inherit;
    grid-template-columns: 82px 250px;
    padding-left: 255px;
  }

  .contacts__button {
    margin: 40px 80px;
    margin-left: 255px;
  }

  .contacts__map {
    position: absolute;
    right: 50px;
    top: 100px;
    width: 527px;
  }
}
