.feature {
  position: relative;
  font-family: @fontfamily;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;

  background-image: url('../../img/zigzag-line.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.feature__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-top: 31px;
  padding: @mobile-padding;
}

.feature__subtitle {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
  padding: @mobile-padding;
  margin: 0;
  margin-top: 3px;

  br {
    display: none;
  }
}

.feature__discription {
  margin: 0;
  margin-top: 18px;
  padding: @mobile-padding;
}

.feature__image {
  display: block;
  padding: @mobile-padding;
  padding-top: 28px;
}

.feature__price {
  display: block;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  padding-top: 25px;
}

.feature__button {
  display: inline-block;
  padding: 16px 80px;
  margin: 25px 30px 36px;
}

.feature__zigzag-line {
  display: block;
  margin: 20px 0;
}

@media (min-width: @tablet-width) {
  .feature {
    padding: @tablet-padding;
    padding-top: 40px;
    padding-bottom: 52px;
  }

  .feature__title {
    display: inline;
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }

  .feature__subtitle {
    display: inline-block;
    line-height: 17px;
    padding: 0;
    margin: 0;

    br {
      display: inline-block;
    }
  }

  .feature__discription {
    line-height: 30px;
    margin-top: 37px;
  }

  .feature__image {
    position: absolute;
    right: 0;
    top: 135px;
    width: 334px;
    height: 404px;
    padding: @tablet-padding;
  }

  .feature__price {
    text-align: start;
    margin-left: 95px;
    padding-top: 57px;
    padding-bottom: 15px;
  }

}

@media (min-width: @desktop-width) {
  .feature {
    padding: 0 225px;
    padding-top: 110px;
    padding-bottom: 73px;
  }

  .feature__title {
    font-size: 53px;
    line-height: 57px;
    padding: 0;
  }

  .feature__subtitle {
    position: absolute;
    left: 60px;
    top: 120px;
  }

  .feature__discription {
    padding: 0;
  }

  .feature__image {
    width: 525px;
    height: 636px;
    z-index: -1;
  }

  .feature__price {
    margin-left: 70px;
    padding-top: 130px;
  }

  .feature__button {
    padding: 16px 86px;
    margin-left: 0;
  }
}
