.feature {
  position: relative;
  font-family: @fontfamily;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;

  background-image: url("../img/zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.feature__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-top: 31px;
  padding: @mobile-padding;
}

.feature__subtitle {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
  padding: @mobile-padding;
  margin: 0;
  margin-top: 3px;
}

.feature__discription {
  margin: 0;
  margin-top: 18px;
  padding: @mobile-padding;
  padding-right: 31px;
}

.feature__image {
  display: block;
  padding: 29px 34px 0 30px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.feature__price {
  display: block;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  padding-top: 26px;
}

.feature__button {
  display: inline-block;
  padding: 15px 80px;
  margin: 24px 31px 40px;
  width: 81%;
  box-sizing: border-box;
}

.feature__zigzag-line {
  display: block;
  margin: 20px 0;
}

@media (min-width: @tablet-width) {
  .feature {
    padding: 52px 20px 27px;
  }

  .feature__title {
    display: inline;
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }

  .feature__subtitle {
    display: inline-block;
    line-height: 17px;
    padding: 0;
    margin: 0;
    max-width: 120px;
    text-align: center;
    padding-left: 88px;
  }

  .feature__discription {
    font-size: 17px;
    line-height: 30px;
    margin-top: 38px;
    max-width: 287px;
  }

  .feature__image {
    position: absolute;
    right: 0;
    top: 152px;
    width: 334px;
    height: 404px;
    padding: @tablet-padding;
    box-sizing: content-box;
  }

  .feature__price {
    font-size: 20px;
    text-align: start;
    margin-left: 101px;
    padding-top: 58px;
    padding-bottom: 15px;
  }

  .feature__button {
    font-size: 17px;
    width: auto;
    padding: 14px 99px;
    margin-top: 18px;
  }
}

@media (min-width: @desktop-width) {
  .feature {
    padding: 0 225px;
    padding-top: 132px;
    padding-bottom: 73px;
    background-size: 91.5%;
  }

  .feature__title {
    font-size: 53px;
    line-height: 57px;
    padding: 0;
  }

  .feature__subtitle {
    position: absolute;
    left: -16px;
    top: 140px;
  }

  .feature__discription {
    padding: 0;
    margin-top: 36px;
  }

  .feature__image {
    width: 525px;
    height: 636px;
    z-index: -1;
    top: 72px;
  }

  .feature__price {
    margin-left: 73px;
    padding-top: 110px;
  }

  .feature__button {
    padding: 14px 99px;
    margin-left: 0;
    margin-bottom: 21px;
  }
}
