.feature-options {
  display: grid;
  grid-template-columns: 98px 2fr;
  row-gap: 8px;
  line-height: 20px;
  margin: 0;
  margin-top: 28px;
  padding: @mobile-padding;
}

.feature-options__options {
  display: inline;
  border-bottom: 1px solid #ececec;
  padding-bottom: 11px;
}

.feature-options__parameter {
  display: inline;
  margin: 0;
  border-bottom: 1px solid #ececec;
}

@media (min-width: @tablet-width) {
  .feature-options {
    width: 40%;
    margin-top: 47px;
  }
}

@media (min-width: @desktop-width) {
  .feature-options {
    width: 42%;
    padding: 0;
    margin-top: 60px;
    row-gap: 6px;
  }

  .feature-options__options {
    padding-bottom: 13px;
  }
}
