.footer-logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .footer-logo {
    display: inline-block;
    align-self: center;
    margin-right: 97px;
  }

  .footer-logo__logo {
    fill: #000000;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .footer-logo {
    margin-right: 287px;
  }
}
