.form__group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: none;
  margin: 0;
  padding: 0;
}

.form__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}

.form__text {
  font-size: 14px;
  font-weight: 400;
}

.form__button {
  display: inline-block;
  padding: 18px 37px;
}
