.header {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  display: flex;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .header {
    position: relative;
    max-height: 79px;
  }

  .header__logo {
    position: absolute;
    left: 27px;
    z-index: 1;
  }
}

@media (min-width: @desktop-width) {
  .header__logo {
    left: 43%;
    top: 4px;
  }

  .header__logo-form {
    left: 42%
  }
}
