.header-navigation {
  display: grid;
  grid-template-columns: 1fr;
  font-family: @fontfamily;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

.header-navigation__wrapper {
  position: relative;
}

.header-navigation__button {
  position: absolute;
  top: -55px;
  right: 20px;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: @white;
}

.header-navigation__wrapper--closed .header-navigation__button::before {
  content: "";
  position: absolute;
  top: 6px;
  right: 5px;
  width: 20px;
  height: 2px;
  background-color: #231f20;
  box-shadow: 0 8px 0 0 #231f20, 0 16px 0 0 #231f20;
}

.header-navigation__wrapper--closed .header-navigation__button:active::before {
  background-color: fade(#231f20, 30%);
  box-shadow: 0 8px 0 0 fade(#231f20, 30%), 0 16px 0 0 fade(#231f20, 30%);
}

.header-navigation__wrapper--closed ~ .header-navigation__link {
  display: none;
}

.header-navigation__wrapper--open .header-navigation__button {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 2px;
    width: 27px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#000000, 30%);
  }
}

.header-navigation__text {
  display: none;
}

.header-navigation__link-none {
  display: none;
}

.header-navigation__link {
  position: relative;
  text-decoration: none;
  color: #000000;
  padding-left: 76px;
  padding-top: 28px;
  padding-bottom: 27px;
  font-size: 17px;
  line-height: 24px;
  background-color: @white;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header-navigation__icon-search {
  position: absolute;
  left: 32px;
  top: 32px;
  fill: rgba(0, 0, 0, 0.2);
}

.header-navigation__link {

  &:hover svg {
    fill: #63d1bb;
  }

  &:active svg {
    fill: #63d1bb;
    opacity: 0.3;
  }
}

.header-navigation__icon-cart {
  position: absolute;
  left: 30px;
  top: 31px;
  fill: rgba(0, 0, 0, 0.2);

  &:hover {
    fill: #63d1bb;
  }

  &:active {
    fill: #63d1bb;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .header-navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .header-navigation__link {
    background-color: transparent;
    border: none;
  }

  .header-navigation__button {
    display: none;
  }

  .header-navigation__link-tablet {
    order: 1;
  }

  .header-navigation__link--search {
    padding: 0;
    margin: 0;
  }

  .header-navigation__icon-search {
    left: 300px;
  }

  .header-navigation__search {
    display: none;
  }

  .header-navigation__text {
    display: block;
    order: 2;
    align-self: center;
    text-align: center;
    font-weight: 400;
    color: @grey;
  }
}

@media (min-width: @desktop-width) {
  .header-navigation {
    grid-template-columns: repeat(5, 1fr);
  }

  .header-navigation__link-none {
    display: block;
  }

  .header-navigation__link {
    &--search {
      grid-column: 4 / 5;
      grid-row: 1 / 2;
    }

    &--basket {
      grid-column: 5 / 6;
      grid-row: 1 / 2;
    }

    &--product {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &--order {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    &--new {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    &--sale {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }

  .header-navigation__icon-search {
    left: 100px;
  }

  .header-navigation__text {
    &--delivery {
      grid-column: 5 / 6;
      grid-row: 2 / 3;
    }
  }
}
