.main-header {
  background-image: url("../img/hero-index.jpg");
  width: 320px;
  height: 506px;
  background-repeat: no-repeat;
}

.main-header__title {
  font-family: @fontfamily;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: @mobile-padding;
  padding-top: 90px;
  margin-bottom: 120px;
}

.main-header__wrapper {
  display: grid;
}

.main-header__sorting {
  color: @white;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  padding: @mobile-padding;
}

.main-header__sorting--left {
  width: auto;
  height: 103px;
  background-color: #63d1bb;
}

.main-header__sorting--right {
  width: auto;
  height: 103px;
  background-color: #56c3b2;
}

.main-header__sorting-text {
  display: block;
  padding-top: 24px;
}

@media (min-width: @tablet-width) {
  .main-header {
    background-image: url("../img/hero-index.jpg");
    min-width: 768px;
    height: 746px;
    background-repeat: no-repeat;
  }

  .main-header__title {
    font-size: 43px;
    line-height: 50px;
    padding: @tablet-padding;
    padding-top: 110px;
  }

  .main-header__wrapper {
    grid-template-columns: 1fr 1fr;
    padding: @tablet-padding;
  }
}

@media (min-width: @desktop-width) {
  .main-header__title {
    font-size: 53px;
    line-height: 57px;
  }
}
