.main-header-form {
  height: 177px;
}

.main-header-form__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  padding-top: 73px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .main-header-form {
    height: 226px;
  }

  .main-header-form__title{
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .main-header-form {
    height: 272px;
  }

  .main-header-form__title {
    font-size: 53px;
    line-height: 57px;
  }
}
